body {
  font-family: 'Open Sans', sans-serif;
}
small { font-size: 0.5em; }

#container {
  width: 960px;
  margin: 40px auto;
}


.scale {
  width: 100%; overflow: hidden;
}
.scale .decimal { float: left; width: 4em; }

.binary { overflow: hidden; }
.binary .digit {
  float: left; width: 0.4em; height: 0.6em; border-radius: 0.3em;
  overflow: hidden; text-indent: -100px;
  background-color: #EFEFEF;
  margin-top: 0.3em;
  margin-right: 0.1em;
  opacity: 0.1;
  border: 1px solid black;
}
.binary .digit.one { opacity: 1; border: 1px solid black; }
.binary .digit.alter { margin-top: 0.1em; background-color: black }
